html, body {
        margin: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
}


#game-grid {
    display: grid;
    grid-template-columns: repeat( 3, 75px );
}


.grid-piece {
    display: flex;
    justify-content: center;
    width: 75px;
    height: 75px;
}


#grid1-2, #grid3-2 {
    border-left: 2px solid black;
    border-right: 2px solid black;
}


#grid2-1, #grid2-3 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}


#grid2-2 {
    border: 2px solid black;
}